<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
  <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> API Pharmacy - An online portal for medications</title>
        <!-- Google fonts -->
        <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
        <!-- Template CSS Style link -->
        <link rel="stylesheet" href="/assets/css/style-starter.css">
</head>

<body>

<!-- header -->
<!-- <div th:replace="~{header :: header}">...</div> -->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand"><i class="fas fa-graduation-cap"></i>API Pharmacy
                   <a th:href="@{/home}" class="navbar-brand">
                          <!-- <img src="assets/images/business_logo.jpeg" height="70" width="120" alt="asusuigboanyiamaka "
                                title="Asusuigboanyiamaka"> -->
                   </a>
                   <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                                aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                          <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                   </button>
                   <div class="collapse navbar-collapse" id="navbarScroll">
                          <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll">
                            <li class="nav-item">
                              <a th:href="@{/home}" class="nav-link ">Home</a>
                            </li>
                            <li class="nav-item">
                              <a th:href="@{/about}" class="nav-link">About</a>
                            </li>
                            <li class="nav-item">
                              <a th:href="@{/medication}" class="nav-link">Drugs</a>
                            </li>
                            <li class="nav-item">
                              <a th:href="@{/contact}" class="nav-link active" aria-current="page">Contact</a>
                            </li>
                            <li class="nav-item">
                              <a th:href="@{/login}" class="nav-link ">Login</a>
                            </li>
                            <li class="nav-item">
                              <a th:href="@{/dashboard}" class="nav-link">Dashboard</a>
                            </li>
                            <li class="nav-item">
                              <a th:href="@{/logout}" class="nav-link">Logout</a>
                            </li>
                          </ul>
                   </div>
                        <!-- toggle switch for light and dark theme -->
                  <div class="cont-ser-position">
                          <nav class="navigation">
                            <div class="theme-switch-wrapper">
                              <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                  <i class="gg-sun"></i>
                                  <i class="gg-moon"></i>
                                </div>
                              </label>
                            </div>
                          </nav>
                  </div>
            </a>
        </nav>
    </div>
  </div>
</header>
<!-- //header -->

<!-- inner banner -->
<section class="inner-banner py-5">
  <div class="w3l-breadcrumb py-lg-5">
    <div class="container pt-4 pb-sm-4">
      <h4 class="inner-text-title pt-5">Contact Us</h4>
      <ul class="breadcrumbs-custom-path">
        <li><a th:href="@{/home}">Home</a></li>
        <li class="active"><i class="fas fa-angle-right"></i>Contact Us</li>
      </ul>
    </div>
  </div>
</section>
<!-- //inner banner -->

<!-- contact block -->

<section class="w3l-contact py-5" id="contact">
  <div class="container py-md-5 py-4">
    <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
      <p class="text-uppercase">Get In Touch</p>
      <h3 class="title-style">Contact Us</h3>
    </div>
    <div class="row contact-block">
      <div class="col-md-7 contact-right">
        <ul>
          <li class="alert alert-danger" role="alert" th:each="error : ${#fields.errors('contact.*')}"
          th:text="${error}"/>
        </ul>
        <form th:action="@{/saveMsg}" method="post" class="signin-form"
        th:object="${contact}">
          <div class="input-grids">
            <div class="row">
              <div class="col-sm-6">
                <input type="text" th:field="*{name}" placeholder="Your Name"
                       class="contact-input" />

                <input type="text" th:field="*{mobileNum}" placeholder="Mobile Number optional"
                       class="contact-input" />
              </div>
            </div>
            <input type="text" th:field="*{email}" placeholder="Your Email"
                   class="contact-input" />
            <p  class="contact-input">
              <label> Select Your Drugs below.(ctrl-click to select multiple lines)</label><br>
              <select th:field="*{subject}" multiple="multiple"
                      size="3" >
                <option width="20" value="Speaking">Aspirin</option>
                <option width="20" value="Writing">Syrup</option>
                <option with="20" value="Greetings">Ginger</option>
              </select>
            </p>
          </div><br>
          <div class="form-input">
            <textarea th:field="*{message}" placeholder="Type your message here"></textarea>
          </div>
          <div class="text-start">
            <button class="btn btn-style btn-style-3" onchange="showChoices()">Send Message</button>
          </div>
        </form>
      </div>
      <div class="col-md-5 ps-lg-5 mt-md-0 mt-5">
        <div class="contact-left">
          <div class="cont-details">
            <div class="d-flex contact-grid">
              <div class="cont-left text-center me-3">
                <i class="fas fa-building"></i>
              </div>
              <div class="d-flex contact-grid mt-4 pt-lg-2">
                <div class="cont-right">
                  <div class="cont-right">
                    <h6 class="imginfo__title">You can reach us Today!</h6>
                    <p>Get a 24/7 connection <br> by WhatsApp. </p>
                    <a href="tel:http://00(49)15733413600"><i class="fas fa-phone-alt"></i> 00-49-15733-413600</a>
                  </div>
                  <br>
                  <div class="cont-right">
                    <h6>Email Us</h6>
                    <p><a href="mailto:info@asusuigboanyiamaka.com" class="mail">info@asusuigboanyiamaka.com</a></p>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- map -->
<div class="map">
  <iframe
          src="https://www.google.de/maps/embed?@51.2384218,6.4846969,10z/data=!3m1!4b1!4m6!3m5!1s0x47b8c97bf1465907:0x42760fc4a2a73b0!8m2!3d51.2277411!4d6.7734556!16zL20vMGhmN2w?entry=ttu";
          width="100%" height="400" frameborder="0" style="border: 0px;" allowfullscreen=""></iframe>
</div>
<!-- //contact block -->
<!-- src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830921454!2d-74.11976369744556!3d40.69766374856529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1639587930884!5m2!1sen!2sin" - <!-- src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830921454!2d-74.11976369744556!3d40.69766374856529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1639587930884!5m2!1sen!2sin" - <!-- src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830921454!2d-74.11976369744556!3d40.69766374856529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sin!4v1639587930884!5m2!1sen!2sin" -
<!-- footer block -->
<div th:replace="~{footer :: footer}">...</div>
<!-- //footer block -->

<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
  <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script>
  //function showChoices
  function showChoices(){
    var sellProgram = document.getElementById("sellProgram");
    var selectedProgram = sellProgram.value;
    return selectedProgram;
  }
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction()
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("movetop").style.display = "block";
    } else {
      document.getElementById("movetop").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
<!-- //move top -->

<!-- common jquery plugin -->
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->

<!-- theme switch js (light and dark)-->
<script src="/assets/js/theme-change.js"></script>
<!-- //theme switch js (light and dark)-->

<!-- MENU-JS -->
<script>
  $(window).on("scroll", function () {
    var scroll = $(window).scrollTop();

    if (scroll >= 80) {
      $("#site-header").addClass("nav-fixed");
    } else {
      $("#site-header").removeClass("nav-fixed");
    }
  });

  //Main navigation Active Class Add Remove
  $(".navbar-toggler").on("click", function () {
    $("header").toggleClass("active");
  });
  $(document).on("ready", function () {
    if ($(window).width() > 991) {
      $("header").removeClass("active");
    }
    $(window).on("resize", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
    });
  });
</script>
<!-- //MENU-JS -->

<!-- disable body scroll which navbar is in active -->
<script>
  $(function () {
    $('.navbar-toggler').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- //disable body scroll which navbar is in active -->

<!-- bootstrap -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- //bootstrap -->
<!-- //Js scripts -->
</body>

</html>