<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> API Pharmacy - An online portal for medications</title>
    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="/assets/css/style-starter.css">
</head>

<body>
<!-- header -->
<div th:replace="~{header :: header}">...</div>
<!-- //header -->

<section id="home" class="w3l-banner py-5">
    <div class="banner-content">
        <div class="container py-4">
            <div class="row align-items-center pt-sm-5 pt-4">
                <div class="col-md-6">
                    <h3 class="mb-lg-4 mb-3">Let Your Patients Buy <span class="d-block">Remote Pharmacy</span>
                    </h3>
                    <p class="banner-sub">Online Pharmacy, Private Doctors & Remote Locations</p>
                    <div class="d-flex align-items-center buttons-banner">
                        <a th:href="@{/contact}" class="btn btn-style mt-lg-5 mt-4">Register Now</a>
                    </div>
                </div>
                <div class="col-md-6 right-banner-2 text-end position-relative mt-md-0 mt-5">
                    <div clas="sub-banner-image mx-auto">
                        <img src="/assets/images/business_logo.jpeg" height="25" class="img-fluid position-relative"
                             alt="Nigerian Children "  title="For Nigerian Child">
                    </div>
                    <div class="banner-style-1 position-absolute">
                        <div class="banner-style-2 position-relative">
                            <h4>Order Online</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //banner section -->

<!-- home 4grids block -->
<section class="services-w3l-block py-5" id="features">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">Best Features</p>
            <h3 class="title-style">Order Your Drugs With API Pharmacy</h3>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
                <div class="icon-box icon-box-clr-1">
                    <div class="icon"><i class="fas fa-user-friends"></i></div>
                    <h4 class="title"><a>Private Doctors</a></h4>
                    <p>Well experienced Doctorss for each patient.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-md-0 mt-4">
                <div class="icon-box icon-box-clr-2">
                    <div class="icon"><i class="fas fa-book-reader"></i></div>
                    <h4 class="title"><a>Quality Medication</a></h4>
                    <p>Clinics based on the Communication framework and Interactions.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-lg-0 mt-4">
                <div class="icon-box icon-box-clr-3">
                    <div class="icon"><i class="fas fa-user-graduate"></i></div>
                    <h4 class="title"><a>Alumni Support</a></h4>
                    <p>Life time Alumni support through various channels available .</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-lg-0 mt-4">
                <div class="icon-box icon-box-clr-4">
                    <div class="icon"><i class="fas fa-university"></i></div>
                    <h4 class="title"><a>At Best Price Offer</a></h4>
                    <p>Good Investments for every patient in the remote areas.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- home 4grids block -->

<!-- home image with content block -->
<section class="w3l-servicesblock pt-lg-5 pt-4 pb-5 mb-lg-5" id="about">
    <div class="container pb-md-5 pb-4">
        <div class="row pb-xl-5 align-items-center">
            <div class="col-lg-6 position-relative home-block-3-left pb-lg-0 pb-5">
                <div class="position-relative">
                    <img src="/assets/images/img1.jpg" alt="" class="img-fluid radius-image">
                </div>
                        <div class="imginfo__box">
                            <h6 class="imginfo__title">Get an Appointment Today!</h6>
                            <p>Call today to know more details<br> and to talk with our expert. </p>
                            <a href="tel:http://00(49)15733413600"><i class="fas fa-phone-alt"></i> 00-49-15733-413600</a>
                        </div>
            </div>
        </div>
    </div>
</section>
<!-- //home image with content block -->

<!-- why choose block -->
<section class="w3l-service-1 py-5">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">Why Choose Us</p>
            <h3 class="title-style">Experienced Teachers And Home environment</h3>
        </div>
        <div class="row content23-col-2 text-center">
            <div class="col-md-6">
                <div class="content23-grid content23-grid1">
                    <h4><a th:href="@{/about}">Private Doctors</a></h4>
                </div>
            </div>
            <div class="col-md-6 mt-md-0 mt-4">
                <div class="content23-grid content23-grid2">
                    <h4><a th:href="@{/about}">Home Environment</a></h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats block -->



<!-- call block -->
<section class="w3l-call-to-action-6">
    <div class="container py-md-5 py-sm-4 py-5">
        <div class="d-lg-flex align-items-center justify-content-between">
            <div class="left-content-call">
                <h3 class="title-big">Call To Enroll Your Patient</h3>
                <p class="text-white mt-1">Begin the change today!</p>
            </div>
            <div class="right-content-call mt-lg-0 mt-4">
                <ul class="buttons">
                    <li class="phone-sec me-lg-4"><i class="fas fa-phone-volume"></i>
                        <a class="call-style-w3" href="tel:00(49) 15733413600">+49 157334134567</a>
                    </li>
                   <!-- <li><a class="btn btn-style btn-style-2 mt-lg-0 mt-3">Join for free</a> -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- footer block  -->
<div th:replace="~{footer :: footer}">...</div>
<!-- //footer block -->

<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- //move top -->

<!-- common jquery plugin -->
<script src="/assets/js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->

<!-- /counter-->
<script src="/assets/js/counter.js"></script>
<!-- //counter-->

<!-- theme switch js (light and dark)-->
<script src="/assets/js/theme-change.js"></script>
<!-- //theme switch js (light and dark)-->

<!-- MENU-JS -->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!-- //MENU-JS -->

<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- //disable body scroll which navbar is in active -->

<!-- bootstrap -->
<script src="/assets/js/bootstrap.min.js"></script>
<!-- //bootstrap -->
<!-- //Js scripts -->
</body>

</html>